<h2>Modelos de Produtos</h2>

<%= link_to 'Cadastrar Modelo de Produto', new_product_model_path %>

<% if @product_models.any? %>
  <% @product_models.each do |model| %>
    <div>
      <h3><%= link_to model.name, model %></h3>
      <dl>
        <dt>SKU</dt>
        <dd><%= model.sku %></dd>
        <dt>Fornecedor</dt>
        <dd><%= model.supplier.brand_name %></dd>
      </dl>
    </div>
  <% end %>
<% else %>
  <p>Não existem modelos de produtos cadastrados</p>
<% end %>